{%include 'adminnewheader.html'%}


<!-- ======= Hero Section ======= -->
<!-- <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Powerful Digital Solutions With Gp<span>.</span></h1>
          <h2>We are team of talented digital marketers</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="adminmanage_forestdiv">Forest Division</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="adminmanage_foreststation">Forest Station</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="adminmanage_animal">Animal</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <h3><a href="adminmanage_panimals">Preserved Animal</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
            <div class="icon-box">
                <h3><a href="adminmanage_officer">Forest Officer</a></h3>
            </div>
        </div>
        <div class="col-xl-2 col-md-4">
            <div class="icon-box">
                <h3><a href="admincomplaint">View Complaints</a></h3>
            </div>
        </div>
        <div class="col-xl-2 col-md-4">
            <div class="icon-box">
                <h3><a href="admin_notification">Send Notifications</a></h3>
            </div>
        </div>
    </div> 
    - Two New Boxes -->
<!-- <div class="col-xl-2 col-md-4">
        <div class="icon-box">
            <h3><a href="your_link_here">New Box 1</a></h3>
        </div>
    </div>
    <div class="col-xl-2 col-md-4">
        <div class="icon-box">
            <h3><a href="your_link_here">New Box 2</a></h3>
        </div>
    </div>
</div>
    
  
   

    </div> -->
<!-- </section>End Hero -->

<!-- ======= Hero Section ======= -->
<section id="hero1" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>WILD ANIMAL DETECTION</h1>
        <p style="color:whitesmoke">Scroll down to see more content</p>
        <div class="down-arrow">&#9660;</div>
        <!-- <h2>We are a team of talented digital marketers</h2> -->
      </div>
    </div>

    <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
      <!-- Existing Boxes -->
      <div class="col-xl-2 col-md-4">
        <div class="icon-box" style="background-image: url(../static/assets/img/forest.jpg);background-size:cover ">
          <h3><a href="/adminmanage_forestdiv">Forest Division</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box"
          style="background-image: url(../static/assets/img/station.jpg);background-size:cover;background-repeat:no-repeat; ">
          <h3><a href="/adminmanage_foreststation">Forest Station</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box"
          style="background-image: url(../static/assets/img/front-view-wild-tiger-nature.jpg);background-size:cover ">
          <h3><a href="/adminmanage_animal">Animal</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box" style="background-image: url(../static/assets/img/adminlion.webp);background-size:cover ">
          <h3><a href="/admin_view_animals">Preserved Animal</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box" style="background-image: url(../static/assets/img/guard.jpg);background-size:cover ">
          <h3><a href="/adminmanage_officer">Forest Officer</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box" style="background-image: url(../static/assets/img/_com3.png);background-size:cover ">
          <h3><a href="/admincomplaint">View Complaints</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box" style="background-image: url(../static/assets/img/nott.png);background-size:cover ">
          <h3><a href="/admin_notification">Send Notifications</a></h3>
        </div>
      </div>

      <!-- Two New Boxes -->
      <div class="col-xl-2 col-md-4">
        <div class="icon-box" style="background-image: url(../static/assets/img/alloc.png);background-size:cover ">
          <h3><a href="/adminallocation">Officer Allocation</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box" style="background-image: url(../static/assets/img/call2.png);background-size:cover ">
          <h3><a href="/admin_contactdetails">Contact number</a></h3>
        </div>
      </div>


    </div>
</section><!-- End Hero -->



<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>WILD ANIMAL DETECTION</h2>
      <p>FOREST</p>

    </div>

    <p>A forest is a dense growth of trees and other plants covering a significant amount of land. It is an ecosystem, a
      community of plants and animals interacting with one another and their environment. Forestry is the science
      involved in studying, preserving, and managing forests. Forests are the predominant terrestrial ecosystem on
      Earth.</p>
  </div>
</section>

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>WILD ANIMAL DETECTION</h2>
      <p>ANIMALS</p>
    </div>


    <p>Animals that live in the forest include hedgehogs, gorillas, badgers, hornbills, koalas, and lizards. The forest
      is a vast expanse of trees and foliage that covers much of the world. It is one of the most diverse habitats on
      Earth, with over half of all living species inhabiting it.</p>

  </div>
</section>

<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>WILD ANIMAL DETECTION</h2>
      <p>WILD ANIMALS</p>
    </div>

    <h4>1. AFRICAN LION</h4>
    <p>Lions are viewed as the rulers of the wilderness, and in all respects which is all well and good. The African
      lion has staggering velocity, well sharpened sharp paws and teeth to assault a conceivable prey. They are the
      greatest of the African carnivores. The females, for the most part, do the chasing, and the guys are sluggish,
      caught up with securing the pride.

      Their chasing procedure incorporates part into gatherings, where one gathering pursues the creature to a
      specific region while another gathering hangs tight to trap the people in question. This procedure is very
      mind-boggling and exact. Their eating regimen incorporates extensive elephants, hyenas, rhinos and even mice.
      This risky creature has assaulted individuals on ranches, bazaars, zookeepers, and so forth, causing several
      fatalities consistently.</p>

    <h4>2.CAPE BUFFALO</h4>
    <p>Otherwise called the African bison, this is an especially forceful occupant of the African meadows. The Cape
      Buffalo is the main individual from the bison and steers clan that happens normally in Africa. Cape wild ox
      has been known to charge exploited people without incitement. With more than 2,000 pounds of weight and the
      capacity to charge at 40 miles 60 minutes, they are a standout amongst the most hazardous toughest animals to
      experience.


      These animals will keep charging regardless of whether they are shot in the heart, and have no hesitations
      about charging vehicles. They’ve additionally been known to assault predators like lions. Having never been
      effectively trained, all through Africa it is known as the “widow maker” or “dark passing” and is in charge of
      a larger number of fatalities consistently than some other expansive creature on the landmass.</p>
    <h4>3. HYENAS</h4>
    <p>The hyena is Africa’s most regular expansive meat eater. Weighing from 90 to 190 pounds, they are presumed to
      be weak and meek however can be striking and risky, assaulting creatures and people. Unique in relation to
      most different creatures, female spotted hyenas are predominant over the guys and exceed them by around 3
      pounds. The spotted hyena is an apt seeker yet additionally a scrounger. Hyenas are pack creatures that reason
      various human fatalities consistently. They’re physically extensive and forceful and have a chomp that is
      developed for searching, so can without much of a stretch smash bone and tear substance.</p>
  </div>
</section>



{%include 'footer.html'%}