{%include 'adminheader.html'%}



<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>WILD ANIMAL DETECTION<span></span></h1>
        <h2>"The animals of the world exist for their own reasons." </h2>
        <p>Scroll down to see more content</p>
        <div class="down-arrow">&#9660;</div>
      </div>
    </div>





  </div>
</section>
<!-- End Hero -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>WILD ANIMAL DETECTION</h2>
      <p>NOTIFICATIONS</p>

    </div>
    <img src="../static/assets/img/cmbg3.png" style="margin-left: -60px;margin-top:-100px" height="200px" alt="">


    <img align="right" style="margin-right: -200px;" src="../static/assets/img/treenes.png" alt="">



    <form action="" method="post">
      <table align="center" style="width : 600px;margin-top:70px" class="table">
        <tr>
          <th>TITLE</th>
          <td><input type="text" name="title" required></td>
        </tr>
        <tr>
          <th>DESCRIPTION</th>
          <td><input type="text" name="des" required></td>
        </tr>
        <tr>
          <th></th>
          <th><input type="submit" name="submit" class="btn btn-success" value="SEND"></th>
        </tr>
      </table>
    </form>


  </div>
</section>


<br><br><br><br><br><br><br><br>



{%include 'footer.html'%}