{%include 'adminheader.html'%}





<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>WILD ANIMAL DETECTION<span></span></h1>
        <h2>"The animals of the world exist for their own reasons." </h2>
        <p>Scroll down to see more content</p>
        <div class="down-arrow">&#9660;</div>
      </div>
    </div>





  </div>
</section>
<!-- End Hero -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>WILD ANIMAL DETECTION</h2>
      <p>COMPLAINTS</p>
    </div>
    <img src="../static/assets/img/cmbg3.png" style="margin-left: -60px;margin-top:-100px" height="200px" alt="">



    <!-- {%if q2%}
    <form action="" method="post">
      <table align="center" style="width : 800px;" class="table">

        <tr>
          <th>Reply</th>
          <td><input type="text" name="reply" required></td>
        </tr>
        <tr>
          <th></th>
          <th><input type="submit" class="btn btn-success" name="reply" value="SEND"></th>
        </tr>
      </table>
    </form>


    {%else%} -->



    <table align="center" style="width : 800px;" class="table">
      <tr>
        <th>Slno</th>
        <th>User Name</th>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
      {%for i in qa %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.user.fname}}</td>
        <td>{{i.title}}</td>
        <td>{{i.description}}</td>
        <td>{{i.date}}</td>
        <td><a style="color:rgb(0, 255, 0)" href="/reply/{{i.complaints_id}}">Resolved</a></td>
      </tr>
      {%endfor%}

    </table>
    <!-- {%endif%} -->
  </div>
</section>

<br><br><br><br><br><br><br><br>

{%include 'footer.html'%}