<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        a{
            padding: 10px;
        }
    </style>
</head>
<body>
    
<a href="">Home</a>
<a href="adminmanage_forestdiv">Forest Division</a>
<a href="adminmanage_foreststation">Forest Station</a>
<a href="adminmanage_animal">Animal</a>
<a href="adminmanage_panimals">Preserved Animal</a>
<a href="adminmanage_officer">Forest Officer</a>
<a href="admincomplaint">View Complaints</a>
<a href="admin_notification">Send Notifications</a>
<a href="adminallocation">Officer Allocation</a>
<a href="admin_contactdetails">Contact_number</a>

<a href="/">Logout</a> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WAD</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="/static/assets/img/favicon.png" rel="icon"> -->
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp
  * Updated: Nov 25 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="">WAD</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto {%if request.path == '/adminhome' %} active {%endif%}" href="adminhome">Home</a></li>
        
          <li class="dropdown nav-link {%if request.path == '/adminmanage_forestdiv' or request.path == '/adminmanage_foreststation' or request.path == '/adminmanage_animal' or request.path == '/admin_view_animals' or request.path == '/adminmanage_officer' %} active {%endif%}"><a href="#"><span>Manage</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="adminmanage_forestdiv">Forest Division</a></li>
             
              <li><a href="adminmanage_foreststation">Forest Station</a></li>
              <li><a href="adminmanage_animal">Animal</a></li>
              <li><a href="admin_view_animals">Preserved Animal</a></li>
              <li><a href="adminmanage_officer">Manage Officer</a></li>

            </ul>

            <li><a class="nav-link scrollto {%if request.path == '/admincomplaint' %} active {%endif%}" href="admincomplaint">View Complaints</a></li>
            <li><a class="nav-link scrollto {%if request.path == '/admin_notification' %} active {%endif%}" href="admin_notification">Send Notifications</a></li>
            <li><a class="nav-link scrollto {%if request.path == '/adminallocation' %} active {%endif%}" href="adminallocation">Officer Allocation</a></li>
            <li><a class="nav-link scrollto {%if request.path == '/admin_contactdetails' %} active {%endif%}" href="admin_contactdetails">Contact_number</a></li>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="login" class="get-started-btn scrollto">Logout</a>

    </div>
  </header><!-- End Header -->




