{%include 'officer_header.html'%}



<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>WILD ANIMAL DETECTION<span></span></h1>
        <h2>"Sometimes animals may suffer more because of their more limited understanding."</h2>
        <p>Scroll down to see more content</p>
        <div class="down-arrow">&#9660;</div>
      </div>
    </div>



  </div>
</section><!-- End Hero -->



<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>WILD ANIMAL DETECTION</h2>
      <p>CAMERA</p>
      <img src="../static/assets/img/cam2new.png" style="margin-top: -100px;" height="300px" alt="">

      <form action="" method="post" enctype="multipart/form-data">
        <table class="table" class="form-control">
          <tr>
            <th>UPLOAD VIDEO</th>
            <td><input type="file" name="video"></td>
          </tr>
          <tr>
            <th></th>
            <th><input type="submit" name="submit" value="UPLOAD" class="btn btn-success"></th>
          </tr>
        </table>
      </form>

    </div>
  </div>
</section>

{%include 'footer.html'%}