{%include 'publicheader.html'%}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>WILD ANIMAL DETECTION<span></span></h1>
        <h2>"Sometimes animals may suffer more because of their more limited understanding."</h2>
      </div>
    </div>



  </div>
</section><!-- End Hero -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>ANIMALS</h2>
      <p>WILD ANIMALS</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box" style="background-image: url(static/assets/img/lion.webp);">

          <h4><a href="">LION</a></h4>
          <p> “A lion sleeps in the heart of every brave man.”</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box" style="background-image: url(static/assets/img/front-view-wild-tiger-nature.jpg);">
          <h4><a href="">TIGER</a></h4>
          <p>"A tiger does not shout its tigritude, it acts."</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box" style="background-image: url(static/assets/img/elephant.jpg);">
          <h4><a href="">ELEPHANT</a></h4>
          <p>“Elephants are magnificent creatures.”</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box" style="background-image: url(static/assets/img/wolf.jpg);">
          <h4><a href="">WOLF</a></h4>
          <p>"The wolf on the hill is not as hungry as the wolf climbing the hill."</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box" style="background-image: url(static/assets/img/panther.jpg);">
          <h4><a href="">BLACK PANTHER</a></h4>
          <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box" style="background-image: url(static/assets/img/hyna.jpg);">
          <h4><a href="">HIENNA</a></h4>
          <p>“A lion does not flinch at laughter coming from a hyena.”</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->


<style>
  p {
    color: white;
  }
</style>

{%include 'footer.html'%}