{%include 'officer_header.html'%}



<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>WILD ANIMAL DETECTION<span></span></h1>
        <h2>"Sometimes animals may suffer more because of their more limited understanding."</h2>
        <p>Scroll down to see more content</p>
        <div class="down-arrow">&#9660;</div>
      </div>
    </div>



  </div>
</section>
<!-- End Hero -->



<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>WILD ANIMAL DETECTION</h2>
      <p>NOTIFICATIONS</p>
    </div>
    <img src="../static/assets/img/under31.png" style="margin-left: -60px;margin-top:-70px" height="200px" alt="">

  </div>
</section>

<table align="center" style="width : 800px;" class="table">
  <tr>
    <th>Slno</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  {%for i in qa %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.title}}</td>
    <td>{{i.description}}</td>
  </tr>
  {%endfor%}
</table>

<br><br><br><br>



{%include 'footer.html'%}